<div class="breadcrumb_home">
    <p-breadcrumb [home]="home"></p-breadcrumb>
</div>

<div class="p-grid tela_home">
    <h1>Games Genre - Menu Lateral em Angular + Breadcrumb</h1>
    <div class="p-col-12">
        <img src="./assets/imagens_home/Angular.png" class="img" alt="Logo Angular">
        <img src="./assets/imagens_home/Selfie.jpeg" class="img" alt="Lejor">
    </div>
    <!-- <span>Welcome</span> -->
    <div class="p-col-12 telaHomeStitulo">
        <h2>UNASP - SP | 2021</h2>
        <h3>Disciplina: Arquitetura da Informação / Temas Emergentes</h3>
        <h4>Aluno: Leonardo Mello - RA 146862 - Professor: Thiago Silva</h4>
    </div>
</div>